* {margin: 0; padding: 0;}
body {
    display: flex;
    flex-direction: column;
    
}
.content {
    display: flex;
    margin: 48px auto;
    font-family: 'Rubik Gemstones', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: 'Rubik Gemstones', sans-serif;
    color:#CB11AB;
}
.link {
    text-decoration: none;
}
.link:hover {
    text-decoration: none;
    color:#CB11AB;
}
#area {
    margin: 0 24px;
    width: 156px;
    font-size: 0;
}

.cell {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 26px;
    border: 1px solid #000;
    cursor: pointer;
    vertical-align: middle;
    transition: background .1s;
}

.cell:hover {
    background-color: #F1F1F1;
}

.currentPlayer {
    font-family: sans-serif;
    width: 140px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.stat {

    display: flex;
    align-items: center;
    font-size: 18px;
}

.stat table {
    border-collapse: collapse;
}

.stat table, .stat th, .stat td {
    font-family: sans-serif;
    padding: 5px;
    text-align: center;
}

.x, .statX {
    color: #481173;
}

.o, .statO {
    color: #CB11AB;    
}

